name: CI - sapliy-cli

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Install dependencies
        run: cd sapliy-cli && go mod tidy

      - name: Run Tests
        run: cd sapliy-cli && go test -v ./...

      - name: Lint
        run: cd sapliy-cli && go vet ./...

      - name: Build
        run: cd sapliy-cli && go build ./...
